span {
    font-size: 45px;
    margin-left: 20px;
    color: red;
    font-weight: bold;
  
}
p {
    font-family: 'Luckiest Guy', cursive;
    font-size: 38px;
}
.hawts {
    font-size: 60px;
}
.title {
    color: yellow;
}
img {
   font-size: 150px;
}
