.title {
    font-weight: 800;
    font-size: 55px;
    color: yellow;
    margin-left: 15px;
    
}
.lanch {
    font-family: 'Luckiest Guy', cursive;
    font-size: 30px;
    color: yellow;
}
td {
    font-size: 15px;
    text-align: left;
}
.price {
    color: red;
    font-size: 22px;
}
img {
    border-radius: 20px;
    margin-left: 15px;
    margin-top: 15px;
}
.orange {
    margin-top: -2px;
}
.container {
    margin-top: -3px;
    
}
.hawts {
    font-size: 60px;
}
.linear{
   
    background-color: black;
    height: 4px;
    margin-left: 20px;
}
.linear-1 {
    background-color: black;
    height: 4px;
}
.hawtsap {
    font-size: 60px;
}
.texte {
    text-align: left; 
    text-shadow: 7px 7px rgb(128, 41, 0);
    -webkit-text-strok-width:;
}
.detai {
    border-color: green;
}
.hamburgue {
    margin-top: 17px;
    margin-right: -1px;
    margin-left: -1px;
    width: 70px;
    height: 50px;
}
.up {
    margin-left: -4px;
}
.textt {
    font-size: 10px;
   
    text-align: center;
}



