span {
    font-size: 30px;
    margin-left: 20px;
    margin-right: 10px;
  
    color: red;
    font-weight: bold;
  
}
p {
    /* font-family: 'Luckiest Guy', cursive; */
    font-size: 22px;
    font-weight: bold;
}
.hawts {
    font-size: 40px;
}
.water {
    margin-top: -2px;
}
span {
    padding-left: 30px;

}
.text {
    font-size: 12px;
    
}
.title {
    text-align: center; 
    text-shadow: 7px 7px rgb(128, 41, 0);
    -webkit-text-strok-width:1px;
}
.back {
    background-color: azure;
    border-radius: 8px;
}



